@use "sass:math";  

//theme colors
$primary: #001021;
$secondary: #09BC8A;
$error: #FF2E00;
$info: #fcf300;
$depedency: #FEA82F;
$background: #e9ebee;


//color palette
$colors: (
	"primary": $primary,
	"secondary": $secondary,
	"error": $error,
	"info": $info,
	"dependency": $depedency,
	"background": $background, 
);


//spacing
$base-padding: 0.7rem;
$base-margin: 0.7rem;

//borders
$base-border-thickness: 2px;
$base-border-radius: 20px;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//font sizes
$base-font-size: 12px;

//$font-size-sm: $base-font-size * 0.75;
//$font-size-lg: $base-font-size * 1.5;

