//variables and functions
@import "variables";
@import "functions";

//base and layout
@import "base";
@import "breakpoints";

//colors
@import "colors";

//components (button card navbar etc)
@import "components/card";
@import "components/button";

//utilities (marging padding opacity)
@import "utilities";

body {
	padding: 50px;
}

hr {
	border: 0.75px solid $primary;
}

.navbar-css {
	background-color: $primary;
	color: $info;
	a {
		background-color: $primary;
	}
}

.title {
	font-family: "Old Standard TT", serif;
	font-size: 10rem;
	font-weight: bold;
	color: $primary;
	justify-content: center;
	text-align: center;
	

	.subtitle {
		font-family: "Nunito Sans", serif;
		font-size: 1.2rem;
		color: $primary;
		justify-content: center;
		
	}

	.version {
		font-size: 0.9rem;
		font-style: italic;
	}
}

div {
	height: auto;

	padding: 10px;
}
