//variables and functions
@import "variables";
@import "functions";

//base and layout
@import "base";

//colors
@import "colors";

//components (button card navbar etc)
@import "components/card";
@import "components/button";

//utilities (marging padding opacity)

body {
	padding: 50px;
}


.bg-palette {
	display: flex;
	flex-direction: column;
	padding: $base-padding;

	h1 {
		text-align: center;
	}

	.bg-primary {
		background-color: $primary;
		height: 50px;
		font-weight: 700;

		
	}
	.bg-secondary {
		background-color: $secondary;
		height: 50px;
		font-weight: 700;

	}
	.bg-error {
		background-color: $error;
		height: 50px;
		font-weight: 700;

	}
	.bg-info {
		background-color: $info;
		height: 50px;
		font-weight: 700;

	}
	.bg-dependency {
		background-color: $depedency;
		height: 50px;
		font-weight: 700;

	}
}
